.BlogTopSection{
    margin: 0px;
    weight: 100vh;
    height: 50vh;
    background-size: cover;
    background-image: url(timg2.jpg);
}

#blogTitle{
    line-height:50vh;
    vertical-align: middle;
    text-align: center;
    font-size:35px;
    color: black;
}

.MainBody{
    margin: 50px 150px 150px 150px;
    padding: 35px;
    border:1px solid #D5D5D5;
    font-size: 20px;
}

pre{
    font-family: "楷体","楷体_GB2312";
    white-space: pre-wrap;
}

#bottomSection{
    margin: 0px;
    weight: 100vh;
    height: 20vh;
    background-size: cover;
    background-image: url(bottom.jpg);
}
#bottomText{
    line-height:20vh;
    vertical-align: middle;
    text-align: center;
    font-size:15px;
    color: black;
}